@using BillEntryProductService_Data

@model IEnumerable<BillEntryProductService_Data.BillEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    <table border="1">
        <tr bgcolor="lightgrey">
            <th>Creation Time</th>
            <th>Number of products</th>
        </tr>

        @foreach (BillEntity e in Model)
        {
            <tr>
                <td>@e.CreationTime</td>
                <td>@e.NumOfProducts</td>
                <td>
                    <form action="~/Bill/Update" method="post">
                        <input type="hidden" name="rowKey" value="@e.RowKey" />
                        <input type="submit" value="Update bill" />
                    </form>
                    <form action="~/Bill/Delete" method="post">
                        <input type="hidden" name="rowKey" value="@e.RowKey" />
                        <input type="submit" value="Delete bill" />
                    </form>
                </td>
            </tr>
        }

    </table>
</div>
